body {
	background-color: #cccc99;
	color: #666600;
}

#news {
	float:right;
	width: 75%;
}

#news:nth-child(3n+1){
	clear:right;
}

#logo {
	width: 25%;
	display: block;
}

.partner {
	width: 100%;
	padding-bottom: 10px;
}

#partners {
	width: 25%;
}

.card {
	margin: 6px;
	color: black;
	padding: 15px;
	float:left;
	width: 25%;
	background-color: #e9e9df;
	font-size: 14px;
}

.card span {
	color: #666600;
	font-size: 18px;
}

.card a {
	color: #666600;
	font-size: 18px;
}

#kozerdek {
	background-color: #e9e9df;
	font-size: 14px;
	float:right;
	width: 75%;
}

video {
	padding: 20px;
}